*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
   margin-top: 100px;
   
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 60px;
    border: 1px solid black;
    padding: 14px;
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
}
.row input {
    padding: 8px;
    width: 245px;
    font-size: 1.7rem;
    margin-bottom: 2px;
    cursor: pointer;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.734);
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
::placeholder{
    color: #ffffff;
}
@media (max-width : 700px) {
    .button{
        width: 50px;
        font-size: 1rem;
    }
    .row input{
        padding: 7px;
        width: 208px;
        font-size: 1.6rem;
    }
}